name: Finpy-CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

    jobs:
        build:
          runs-on: ubuntu-latest
          strategy:
            matrix:
              python-version: [2.7, 3.5, 3.6, 3.7, 3.8]
          steps:
            env:
                API_KEY_DEV: ${{secrets.API_KEY}}
                FLASK_APP: app.py
                FLASK_ENV: development
                API_URL: https://finnhub.io/api/v1/
          - uses: actions/checkout@v2
          - name: Set up Python ${{ matrix.python-version }}
            uses: actions/setup-python@v2
            with:
              python-version: ${{ matrix.python-version }}
          - name: Install dependencies
            run: |
              python -m pip install --upgrade pip
              if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          - name: Lint with pylint
            run: |
              pylint *.py 
          - name: Test with pytest
            run: |
              pytest
      